/* Section Styling */
.contact-section {
  border-radius: 2rem;
  padding-bottom: 5rem;
}

/* Placeholder Styling */
.contact-section input::placeholder,
.contact-section textarea::placeholder {
  color: #888;
}

/* Input Focus Styling */
.contact-section .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.15);
}


/* Responsive Map Styling */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
